*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Noto Sans', sans-serif;
}
body {
  width: 100%;
  height: 100vh;
  padding: 10px;
  background: #ececec;
}
.wrapper {
  width: 100%;
  max-width: 550px;
  margin: 80px auto;
  padding: 28px;
  border: 2px solid #000;
  border-radius: 15px;
  background: #fff;
}
.wrapper header {
  font-size: 30px;
  font-weight: 700;
}
.wrapper .inputField {
  width: 100%;
  height: 45px;
  margin: 20px 0;
  display: flex;
}
.inputField input {
  width: 100%;
  height: 100%;
  padding-left: 13px;
  font-size: 17px;
  outline: none;
  border: 1px solid #b6c3d1;
  border-radius: 3px;
}
.inputField button {
  width: 60px;
  height: 100%;
  margin-left: 5px;
  font-size: 20px;
  color: #fff;
  outline: none;
  border: none;
  border-radius: 3px;
  background: #3ca8d6;
  cursor: pointer;
  pointer-events: auto;
}
.inputField button:hover, .footer button:hover { 
  background: #1295e0;
}
.wrapper .todoList { 
  max-height: 100%;
  overflow-y: auto;
}
.todoList li {
  height: 45px;
  line-height: 45px;
  margin-bottom: 8px;
  padding: 0 15px;
  list-style: none;
  background: #ececec;
  border-radius: 3px;
  cursor: pointer;
  overflow: hidden;
  position: relative;
}
.todoList li.checked {
  height: 45px;
  line-height: 45px;
  margin-bottom: 8px;
  padding: 0 15px;
  color: #fff;
  list-style: none;
  text-decoration: line-through;  
  background: #807f7fb9;
  border-radius: 3px;
  cursor: pointer;
  overflow: hidden;
  position: relative;
}
.todoList li .icon {
  width: 45px;
  right: 0px;
  color: #fff;
  text-align: center;
  background: #db3131c7;
  border-radius: 0 3px 3px 0;
  cursor: pointer;
  position: absolute;
}
.todoList li .icon:hover {
  background: #f11212;
}
.wrapper .footer {
  width: 100%;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer button {
  margin-left: 5px;
  padding: 6px 10px;
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  outline: none;
  border: none;
  border-radius: 3px;
  background: #3ca8d6;
  cursor: pointer;
}